<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="urdf_1">
  <!-- Link: base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="-8.6986E-05 0.030402 -0.022256" rpy="0 0 0" />
      <mass value="0.9951" />
      <inertia ixx="0.0014474" ixy="-5.223E-08" ixz="-1.8035E-06" iyy="0.001566" iyz="5.6055E-07" izz="0.0026424" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Link: roda_direita_re -->
  <link name="roda_direita_re">
    <inertial>
      <origin xyz="1.0408E-17 -0.028826 2.3539E-07" rpy="0 0 0" />
      <mass value="0.27834" />
      <inertia ixx="0.00019487" ixy="7.2568E-21" ixz="-6.7763E-21" iyy="0.00032312" iyz="-1.1826E-09" izz="0.00019487" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/roda_direita_re.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 0.99216 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/roda_direita_re.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Joint: roda_direita -->
  <joint name="roda_direita" type="fixed">
    <origin xyz="-0.091785 -0.0078619 -0.029819" rpy="0 -0.99692 -1.5708" />
    <parent link="base_link" />
    <child link="roda_direita_re" />
    <axis xyz="0 1 0" />
  </joint>

  <!-- Link: roda_esquerda_rd -->
  <link name="roda_esquerda_rd">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.27834" />
      <inertia ixx="0.00019487" ixy="0" ixz="0" iyy="0.00032312" iyz="0" izz="0.00019487" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/roda_esquerda_rd.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/roda_esquerda_rd.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Joint: roda_esquerda -->
  <joint name="roda_esquerda" type="fixed">
    <origin xyz="0.092215 -0.0079249 -0.029819" rpy="0 0.84537 1.5708" />
    <parent link="base_link" />
    <child link="roda_esquerda_rd" />
    <axis xyz="0 1 0" />
  </joint>
</robot>
