<launch>
  <arg name="model" />
  <param name="robot_description" textfile="$(find robot_description)/urdf/V6.urdf" />

  <arg name="gui" default="False" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_description)/config/config.rviz" />
</launch>
